
.icone-texto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 50px;
    padding-bottom: 20px solid black;
}
.icone{
    height: 50px;
    width: 60px;
    padding: 100px;
    margin-right: 600px;
}
.card-imagens{
    display: grid;
    justify-content:flex-start;
    row-gap: 20px;
}
.btn{
    padding: 10px 8px;
    width: 90px;
    color:white;
    background: rgb(184, 18, 46);
    border: 1px solid #555;
    border-radius: 5px;
    user-select: none;
    cursor: move;
}
.btn:hover{
    background: rgb(219, 145, 159);
    transition: background 1s;
}
.btn2{
    padding: 10px 8px;
    width: 90px;
    color:white;
    background: rgb(184, 18, 46);
    border: 1px solid #555;
    border-radius: 5px;
    user-select: none;
    cursor: move;
}