.topico{
  .campo{
      font-size: 20px;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 1em;
      text-align: center;
  
  }
  
  .campo input[type="text"]{
      width: 500px;
  }
  
  .campo input[type="email"]{
      width: 500px;
  }
  .campo input:focus, .campo textarea:focus{
      background: rgb(12, 11, 12);
  }
  
  #botao-enviar{
      font-size: 15px;
      margin-bottom: 50px;
  }
  